@charset "utf-8";
@import url('reset.css');
@import url('font.css');

body {
    font-family: 'Pretendard', 'Noto Sans KR';
    line-height: 1.5;
    color: #1c1c1c;
    background-color: beige;
}

#wrap {
    max-width: 375px;
    margin: 0 auto;
    background-color: #fff;
}

/* 헤더 */
.header .inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.header .inner .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .header-top .logo {
    width: 120px;
}

.header .inner .header-top .logo img {
    width: 100%;
    object-fit: cover;
}

.header .inner .header-top .nav-1 {
    display: flex;
    gap: 15px;
}

.header .inner .header-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header .inner .header-bottom .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .header-bottom .search .box {
    width: 290px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff0f0;
    font-size: 13px;
}

.header .inner .header-bottom .search .box p {
    color: #333;
}

.header .inner .header-bottom .search img {
    width: 25px;
    object-fit: cover;
}

.header .inner .header-bottom .nav-2 {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}

.header .inner .header-bottom .nav-2 li:first-child {
    font-weight: 700;
    color: #6DB329;
}

.header .inner .header-banner {
    width: 335px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.header .inner .header-banner li a img {
    width: 100%;
    object-fit: cover;
}

/* 메인 */
.main {}

.main .inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0 20px;
}

.main .inner .con-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main .inner .con-1 h2 {
    font-size: 20px;
    font-weight: 600;
}

.main .inner .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.main .inner .nav li {
    text-align: center;
    padding: 8px 14px;
    border-radius: 20px;
    background-color: #d9d9d950;
    color: #33333390;
}

.main .inner .nav li:first-child {
    font-weight: 600;
    background-color: #6DB329;
    color: #fff;
}

.main .inner .con-1 .list {
    border-radius: 10px;
    overflow: hidden;
    padding: 50px 0;
    background-color: #081D58;
}

.main .inner .con-1 .list .item {
    text-align: center;
    color: white;
}

.main .inner .con-1 .list .item img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.main .inner .con-1 .list .item .text {
    margin-top: 40px;
}

.main .inner .con-1 .list .item .text h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.main .inner .con-1 .list .item .text p {
    font-size: 13px;
    color: #6DB329;
}


.main .inner .ad {
    width: 335px;
    height: 140px;
}

.main .inner .ad img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

.main .inner .con-2,
.main .inner .con-3,
.main .inner .con-4,
.main .inner .con-5 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid #d9d9d9;
}

.main .inner .con-2 h2,
.main .inner .con-3 h2,
.main .inner .con-4 h2,
.main .inner .con-5 h2 {
    font-size: 20px;
    font-weight: 700;
}

.main .inner .con-2 .list,
.main .inner .con-3 .list,
.main .inner .con-4 .list,
.main .inner .con-5 .list {
    display: flex;
    justify-content: space-between;
}

.main .inner .con-2 .list .item,
.main .inner .con-3 .list .item,
.main .inner .con-4 .list .item,
.main .inner .con-5 .list .item {
    width: 105px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .inner .con-2 .list .item img,
.main .inner .con-3 .list .item img,
.main .inner .con-4 .list .item img,
.main .inner .con-5 .list .item img {
    width: 100%;
    height: 140px;
    object-fit: fill;
    border: 0.5px solid #33333325;
}

.main .con-2 .list .item .text,
.main .con-3 .list .item .text,
.main .con-4 .list .item .text,
.main .con-5 .list .item .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main .con-2 .list .item .text h3,
.main .con-3 .list .item .text h3,
.main .con-4 .list .item .text h3,
.main .con-5 .list .item .text h3 {
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.main .con-2 .list .item .text p,
.main .con-3 .list .item .text p,
.main .con-4 .list .item .text p,
.main .con-5 .list .item .text p {
    font-size: 13px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    margin-bottom: 60px;
}

.main .rank {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: orange;
}

.main .rank .title {
    display: flex;
    gap: 15px;
    font-size: 20px;
    font-weight: 700;
}

.main .rank .title li:last-child {
    color: #33333360;
}

.main .rank .nav {
    font-size: 14px;
    height: 17px;
    margin-bottom: 20px;
}

.main .rank .nav ul {
    width: fit-content;
    display: flex;
    gap: 13px;
}

.main .rank .nav ul li:first-child {
    color: #6DB329;
    font-weight: bold;
    border-bottom: 2px solid #6DB329;
}

.main .rank .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main .rank .list .item {
    margin-bottom: 30px;
    border-bottom: 1px solid #00000010;
}

.main .rank .list .item .box {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.main .rank .list .item .box .image {
    position: relative;
    border: 1px solid #6DB329;
    border-radius: 5px;
    overflow: hidden;
}

.main .rank .list .item .box .image img {
    display: block;
    width: 100px;
    height: 120px;
    object-fit: cover;
}

.main .rank .list .item .box .image h2 {
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 0.5px #000000;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.main .rank .list .item .box .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main .rank .list .item .box .text span {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(-90deg, rgba(109, 179, 41, 1) 0%, rgba(8, 29, 88, 1) 100%);
    border-radius: 20px;
    padding: 4px 10px;
}

.main .rank .list .item .box .text strong {
    font-size: 15px;
    font-weight: 500;
}

.main .rank .list .item .box .text strong p {
    font-size: 14px;
    font-weight: 400;
}

.main .rank .list .item .box .text .up {
    display: flex;
    gap: 10px;
    color: red;
}

.main .rank .list .item .box .text .down {
    display: flex;
    gap: 10px;
    color: #081D58;
}

.main .rank .list .item .text .new {
    color: #6DB329;
    font-weight: 500;
}