@charset "utf-8";
@import url('reset.css');

body {
    font-family: 'Pretendard';
}

#wrap {
    max-width: 1024px;
    width: calc(100% - 40px);
    margin: 0 auto;
    background-color: white;
}

.header {}

.header .inner {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .inner .logo {
    width: 120px;
}

.header .inner .logo img {
    width: 100%;
    object-fit: cover;
}

.header .inner .nav-1 {
    display: flex;
    gap: 15px;
}

.header .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .search .box {
    width: 283px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff0f0;
}

.header .nav-2 {
    margin-bottom: 20px;
}

.header .nav-2 ul {
    display: flex;
    justify-content: space-between;
}

.header .nav-2 ul li {
    font-size: 16px;
}

.header .nav-2 ul li:first-child {
    font-weight: bold;
    color: #6DB329;
}


.main {}

.main .banner {
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}

.main .banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.main .con-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .con-1 h2 {
    font-size: 20px;
    font-weight: bold;
}

.main .con-1 .nav ul {
    margin-top: 15px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.main .con-1 .nav ul li {
    text-align: center;
    padding: 10px;
    background-color: #d9d9d9;
}

.main .con-1 .list {
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px 0;
    background-color: #081D58;
}

.main .con-1 .list .item {
    text-align: center;
    color: white;
}

.main .con-1 .list .item img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.main .con-1 .list .item .text {
    margin-top: 40px;
}

.main .con-1 .list .item .text h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main .con-1 .list .item .text p {
    font-size: 13px;
    color: #6DB329;
}


.main .ad {
    margin: 50px 0;
}

.main .ad img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}


.main .con-2 {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 50px;
}
.main .con-2 h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.main .con-2 .list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.main .con-2 .list .item {
    width: 32%;
}
.main .con-2 .list .item img {
    width: 100%;
    height: 183px;
    object-fit: cover;
    border: 0.5px solid #33333325;
    border-radius: 5px;
}
.main .con-2 .list .item .text {
    margin-top: 10px;
    line-height: 1.5;
}
.main .con-2 .list .item .text h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.main .con-2 .list .item .text p {
    font-size: 13px;
}


.main .con-3 {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 50px;
}
.main .con-3 h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.main .con-3 .list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.main .con-3 .list .item {
    width: 32%;
}
.main .con-3 .list .item img {
    width: 100%;
    height: 183px;
    object-fit: cover;
    border: 0.5px solid #33333325;
    border-radius: 5px;
}
.main .con-3 .list .item .text {
    margin-top: 10px;
    line-height: 1.5;
}
.main .con-3 .list .item .text h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.main .con-3 .list .item .text p {
    font-size: 13px;
}


.main .con-4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 50px;
}

.main .con-4 h2 {
    font-size: 20px;
    font-weight: bold;
}

.main .con-4 .nav ul {
    margin: 15px 0;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.main .con-4 .nav ul li {
    text-align: center;
    padding: 10px;
    background-color: #d9d9d9;
}

.main .con-4 .list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.main .con-4 .list .item {
    width: 32%;
}
.main .con-4 .list .item img {
    width: 100%;
    height: 183px;
    object-fit: cover;
    border: 0.5px solid #33333325;
    border-radius: 5px;
}
.main .con-4 .list .item .text {
    margin-top: 10px;
    line-height: 1.5;
}
.main .con-4 .list .item .text h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.main .con-4 .list .item .text p {
    font-size: 13px;
}


.main .con-5 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 50px;
}
.main .con-5 .list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.main .con-5 .list .item {
    width: 32%;
}
.main .con-5 .list .item img {
    width: 100%;
    height: 183px;
    object-fit: cover;
    border: 0.5px solid #33333325;
    border-radius: 5px;
}
.main .con-5 .list .item .text {
    margin-top: 10px;
    line-height: 1.5;
}
.main .con-5 .list .item .text h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.main .con-5 .list .item .text p {
        font-size: 13px;

}


.main .rank {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 50px;
}
.main .rank .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.main .rank .title ul {
    display: flex;
    gap: 15px;
}
.main .rank .title ul li:last-child {
    color: #33333360;
}
.main .rank .nav {
    font-size: 14px;
    height: 17px;
    margin-bottom: 20px;
}
.main .rank .nav ul {
    width: fit-content;
    display: flex;
    gap: 13px;
}
.main .rank .nav ul li:first-child {
    color: #6DB329;
    font-weight: bold;
    border-bottom: 2px solid #6DB329;
}
.main .rank .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main .rank .list .item {
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
}
.main .rank .list .item .box .image a img {
    width: 60px;
    height: 80px;
    object-fit: cover;
}
.main .rank .list .item .box .icon {
    display: flex;
    justify-content: space-between;
    background-color: green;
}
.main .rank .list .item .box .icon ul {
    display: flex;
    gap: 5px;
    background-color: orange;
}
.main .rank .list .item .box .icon img {
    height: 17px;
    object-fit: cover;
}
.main .rank .list .item .text {
    background-color: red;
}
.main .rank .list .item .text strong {}
.main .rank .list .item .text p {}